/*
* COLORS
*/

$color-primary: #0000df;
$color-ordinary: #000;

$border-color: #eee;
$input-border-color: #e1e1e1;

/*
* TRANSITIONS TIME
*/

$transition-sm: .25ms;
$transition-default: .35ms;
$transition-md: .5s;
$transition-lg: .75s;
